#p5Canvas {
    position: absolute;
    z-index: 2147483647;
    pointer-events: none;
}

.sw-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

*, *:hover {
    cursor: none !important;
}

#stalker {
    pointer-events: none;
    position: fixed;
    top: 0px;     
    left: 0px;  
    z-index: 2147483647;
}