#p5Canvas {
    position: absolute;
    z-index: 2147483647;
    pointer-events: none;
}

body, a:hover, div:hover, span:hover, img:hover, svg:hover{
    cursor: none;
}

#stalker {
    pointer-events: none;
    position: fixed;
    top: 0px;     
    left: 0px;  
    z-index: 2147483647;
}